.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.frase {
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    right: 100%;
    
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

body{
    background-color: #b5e1ec;
    overflow: scroll;
}

h1 {
    background-color: #ec1111;
    border: rgb(15, 14, 14);
    border-radius: 40px;
    
}

.placar {
    display: none;
}